.button {
    color: #fff;
    border: none;
    border-radius: space(0.5);
    padding: space(1);
    cursor: pointer;
    outline: none;
    transition: all 0.25s ease-in-out;

    &:hover {
        opacity: 0.6;
    }

    &.button--disabled {
        opacity: 0.6;
    }

    &.button--active {
        background-color: $primary;
    }
}